nav{
    font-size: 20px;
    font-weight: 700px;
    line-height: 1.5em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}
nav>p{
    margin-top: 0;
}

.header>nav>a{
    color:black;
    text-decoration: none;
}


main {
    background-color:   #649549;
    width: 100%;
    height: 460px;

}
.intro{
    margin-left: 50px;
    
}
#orderbutton{
    margin-left: 40px;
    margin-top: 30px;
}

#orderbutton>a{
    color: white;
    text-decoration: none;
    background-color: #6CB840;
    width: 60px;
    height: auto;
    color: white;
    padding: 7px;
    border-radius: 5px;

}

.together{
    width: 100%;
    height: 500px;
    background-color:white;
    
 
   
}
.together>h2{
    color:  #EAAB1B;
    justify-content: center;
    padding: 50px;
    text-align: center;
    margin-right: 70px;
    font-weight: 700;
    
}
.together>img{
    float: left;
    position: relative;
  
    
}
.together>p{

    font-size: 20px;
    justify-content: center;
    margin-right: 70px;
    text-align: center;
}
.container{
    background-color:  #FFD77C;
    width: 100%;
    height: 600px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.container>h2{
        width:100%;
        line-height: 1.0em;
        height:40px;
        text-align: center;

 }
 .container>div>img{
     float: left;
 }
 .container>div>h3{
     margin-left: 40px;
 }
 .container>div>p{
text-align: center;
 }
 

.burger{
    width: 30%;
    height:220px;
    background-color: white;
    padding: 10px;
    margin:10px;
    border-bottom-right-radius: 10px;

}

.hotdeals{
    background-color: #C9ECB5;
    width: 100%;
    height: 620px;

}
.hotdeals>h2{
    text-align: center;
    
}
.hotdeals>h1,p{
    margin-top: 50px;}

.hotdeals>img{
    float: left;
    width: 450px;
    height: 550px;

}
.contactus{
    background-color: pink;
    width: 100%;
    height: 300px;
}
.footer{
    background-color:  lightblue;

}